# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

### VisualStudioCode ###
.vscode
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
src/API.ts
!src/graphql/custom-*
.eslintcache

.gitsecret/keys/random_seed
!*.secret
amplify/team-provider-info.json


todo
ignoreFolder

### WebStorm/Idea stuff ###
.idea/inspectionProfiles/Project_Default.xml
.idea/kompetansekartlegging-gui.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/.gitignore
