.nav {
    margin-left: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.navName {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
