#if ($ctx.error)
    $util.appendError($ctx.error.message, $ctx.error.type, null, $ctx.result.data.unprocessedKeys)
#end

$util.toJson($ctx.result.data.QuestionAnswer-x577rccibfhkhenllp6eilkmee-batchtest)